$white: #FFFFFF;
$black: #000000;

$text-gray: #6E828C;
$text-gray-2: #AFB9BE;
$text-gray-3: #1E2832;
$text-gray-4: #46555F;
$text-gray-5: #D7D7D7;
$text-green: #3AFF66;
$text-green-2: #11D73C;
$text-blue: #0079C2;
$text-red: #FF2727;

$background-gray: #E6E6E6;
$background-gray-2: #EEEEEE;
$background-gray-3: #D8D8D8;
$background-gray-3-hover: #B5B5B5;
$background-light-gray: #F4F4F4;
$background-light-gray-2:#EEEEEE;
$background-green: #00D62F;
$background-blue: #F2F7FC;
$background-red: #d63600;
$background-yellow: #FFE600;

$input-gray: #E7E7E7;
$input-light-gray: #EDEDED;
$input-border: #C7C7C7;

$button-gray: #898989;

$separator-gray: #D5D5D5;
